* {
    margin: 0;
    padding: 0;
}

#canvas {
    position: fixed;
    width: 100%;
    background-color: #69e8dd;
}

.section {
    width: 100%;
    height: 1000px;
}

.section1 {
    background-color: #40e740;
}

/*.section2 {*/
/*    background-color: #6cff77;*/
/*}*/

/*.section3 {*/
/*    background-color: #1231ad;*/
/*}*/